[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
django-browser-reload = "*"
django-debug-toolbar = "*"
django-cleanup = "*"
django-extensions = "*"
django-admin-honeypot-updated-2021 = "*"
django-redis = "*"
psycopg2-binary = "*"
dj-database-url = "*"
requests = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.12"
